<%= simple_form_for @user, html: {class: "form"} do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
      <div> <%= message %> </div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.input :first_name, input_html: {class: "form-control"}, placeholder: "first name" %>
  </div>
  <div class="mb-3">
    <%= f.input :last_name, input_html: {class: "form-control"}, placeholder: "last name" %>
  </div>
  <div class="form-group mb-3">
    <%= f.input :email, input_html: {class: "form-control"}, placeholder: "someone@example.com" %>
  </div>
  <div class="form-group mb-3">
    <%= f.input :description, input_html: {class: "form-control"}, placeholder: "description" %>
  </div>
  <%= f.label :image %>
  <% if @user.errors[:image].empty? && @user.image.attached?%>
    <%= link_to user_image_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
  <div class="custom-file mb-3">
    <br/>
    <%= image_tag @user.image.variant(:profile), class: "mt-1 mb-2" if @user.errors[:image].empty? && @user.image.attached? %>
    <%= f.input :image, as: :file, label: false, input_html: {class: "custom-file-input", id: "file", accept: "image/jpeg, image/png"} %>
    <label class="custom-file-label" for="file">Choose file</label>
  </div>
  <div class="d-flex align-items-center mb-3">
    <p style="font-weight: bold; margin: auto auto 5px 0px"> Social networks </p>
    <%= link_to_add_association f, :social_networks, class: "btn btn-sm btn-outline-success", data: {
        association_insertion_node: ".social-networks",
        association_insertion_method: :append} do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="form-group mb-3">
    <table class="table table-borderless">
      <tbody class="social-networks">
        <%= f.simple_fields_for :social_networks do |builder| %>
          <%= render "social_network_fields", f: builder %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mb-3">
    <%= f.submit class: "btn btn-dark" %>
  </div>
<% end %>