
<div class="container"> 
  <div class="d-flex justify-content-center align-items-center mt-3">
    <h1>Users</h1>
  </div>
  <table class = "table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Description</th>
            <th scope="col">Social networks</th>
        </tr>
    </thead>
    <% @users.each do |user| %>
      <%= link_to user do%>
        <tr>
          <td class="align-middle"> 
            <%= link_to user_path(user.username), style: "text-decoration: none" do %>
              <%= image_tag user.image.attached? ? user.thumb_img : "default.png", width: 50, height: 50, class: "rounded-lg" %>
            <% end %>  
            <%= user.first_name + " " + user.last_name %> 
          </td>
          <td class="align-middle"> <%= user.email %> </td>
          <td class="align-middle"> <%= user.description %> </td>
          <td class="align-middle"> <%= render "social_networks", social_networks: user.social_networks %> </td>
        </tr>
      <% end %>
    <% end %> 
  </table>
</div>

