<div class="container d-flex justify-content-center">
    <div class="card mt-3" style="min-width: 40%;">
        <div class="card-header">
            <h4 class="card-title"> <%= "#{@user.first_name} #{@user.last_name}" %> </h4>
        </div>
        <div class="card-body">
            <%= link_to url_for(@user.image), target: :_blank do %>
                <%= image_tag @user.image.variant(:profile), style: "width: 100px; height: 100px", class: "mb-4" if @user.image.attached? %>
            <% end %>
            <p> <%= "Email: #{@user.email}"%> <p>
            <p class="card-text"><%= "Description: #{@user.description}" %></p>
            
            <%= render "social_networks" %>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <%= button_to edit_user_path(@user), method: :get, class: "btn btn-warning" do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
            <%= button_to @user, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger", style: "margin-left: 5px" do %> 
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
        </div>
    </div>
</div>